################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KafkaTest/bin/Debug/net8.0
/KafkaTest/obj
/.vs/KafkaTest/FileContentIndex
